<div class="container">
    <div class="jumbotron">
        <h1>Eat-Da-Burger!</h1>
    </div>


    <main>
        <div class="container">
            <div class="row">
                <div class="col s6">
                    {{#each burgers}}
                    {{#unless this.devoured}}

                    <div class="input-group">
                        <p class="lead">{{this.burger_name}}</p>
                        <span class="input-group-btn">

                            <form action="burgers/{{this.id}}?_method=PUT" method="POST">
                                <input type="hidden" name="devoured" value="true">
                                <button class="btn btn-default btn-lg" type="submit">Devour it!</button>
                            </form>
                        </span>

                        {{/unless}}
                        {{/each}}
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            <h5>Devoured Burgers</h5>
                            <div class="panel panel-default">
                                <ul class="list-group">
                                    {{#each burgers}}
                                    {{#if this.devoured}}
                                    <li class="list-group-item">
                                        <p class="lead">{{this.burger_name}}</p>
                                    </li>
                                    {{/if}}
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
    </main>

    <h2>Add A Burger</h2>

    <div class="row">
        <div class="col s12">
            <form action="/burgers" method="POST">
                <input type="text" id="name" name="burger_name" placeholder="Burger Name">
                <button type="submit" class="addBurgerButton">Add Burger</button>
            </form>
        </div>
    </div>