<div class="container">
    <div class="jumbotron">
        <img src="http://freepngimages.com/bacon-burger-transparent-background/" width="auto" height="auto">
        <h1>Eat-Da-Burger!</h1>
    </div>